@import "tailwindcss";

:root {
  --primary: #006eff;
  --secondary: #ffbe3d;
  --bg-dark: #232323;
  --bg-light: #f3f3f3;

  --background: var(--bg-light);
  --foreground: var(--bg-dark);
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-bg-dark: var(--bg-dark);
  --color-bg-light: var(--bg-light);
  --font-sans: var(--font-nohemi);
  --font-poppins: var(--font-poppins);
}

body {
  background-color: var(--background);
  background-image: 
    linear-gradient(rgba(0, 110, 255, 0.07) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 110, 255, 0.07) 1px, transparent 1px);
  background-size: 38px 38px;
  color: var(--foreground);
  font-family: var(--font-nohemi), sans-serif;
}